{% extends 'base.html.twig' %}
{% block content %}
            <!-- Section Title -->
            <section class="section-title img-news">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Bonus erhalten</h1>
                </div>
            </section>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>/</li>
                            <li>Bonus erhalten</li>
                        </ul>
                    </div>
                </div>

                <div class="semiboxshadow text-center">
                    <img src="/img/img-theme/shp.png" class="img-responsive" alt="">
                </div>

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">

                        <!-- content Column Left -->
                        <div class="col-md-8">
                            <!-- Single Post -->
                            <div class="panel-box">

                                <!-- Title Post -->
                                <div class="titles">
                                    <h4>Bonus erhalten</h4>
                                </div>
                                <!-- Title Post -->

                                <!-- Post Item -->
                                <div class="post-item single-news">
                                    <div class="row">
                                        <!-- Info Post -->
                                        <div class="col-md-12 padding-top-mini">
                                            <h4>Für jeden Einkauf einen Bonus</h4>
                                            <p>
                                                Bei Teambonus erhält deine Mannschaft für jeden deiner Einkäufe über einen unserer <a href="/shops">Partnershops</a> einen Bonus zurück. Hierfür werden für dich keine Mehrkosten fällig, den Bonus zahlt der Händler.
                                                <br /><br />
                                            </p>    
                                            <h4>Bonus statt Sponsor</h4>
                                            <p>
                                                Mit dem Bonus von Teambonus könnt ihr euer Teamkonto füllen und euch auszahlen lassen. Was ihr mit dem Geld macht ist eure Sache. Eine gute Alternative zu herkömmlichen <a href="/sponsoren">Sponsoren</a>.
                                            </p>
                                        </div>
                                        <!-- End Info Post -->
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                            </div>
                            <!-- End Single Post -->

                        </div>
                         <!-- End content Left -->
                        <!-- content Sidebar Center -->
                        <aside class="col-md-4">                     

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Anzeige</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- tb sidebar -->
                                        <ins class="adsbygoogle"
                                             style="display:block"
                                             data-ad-client="ca-pub-7481436394695644"
                                             data-ad-slot="6533774619"
                                             data-ad-format="auto"></ins>
                                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->
                        </aside>
                        <!-- End content Sidebar Center -->
                    </div>                     
                </div>  
                <!-- End Content Central -->
{% endblock %}