{% extends 'base.html.twig' %}
{% block meta %}

{% endblock %}
{% block indexsearch %} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>F.A.Q. - Häufig gestellte Fragen</h1>
                <hr />
                <div class="panel panel-default">
                    <div class="panel-heading">Was ist Teambonus?</div>
                    <div class="panel-body">
                      Das Portal Teambonus bietet Mannschaften die Möglichkeit sich selbst zu sponsern und so ihre Mannschaftskasse aufzufüllen oder Geld für Anschaffungen zu sammeln. 
                    </div>
                    <div class="panel-heading">Wie funktioniert es?</div>
                    <div class="panel-body">
                      Von jedem Online-Einkauf, der über Teambonus geht, erhält das gewählte Team eine Vergütung auf sein Teambonus-Konto. Die Höhe der Vergütung hängt vom Netto-Einkaufswert und von der Provision des Online-Shops ab.
                    </div>
                    <div class="panel-heading">Für wen ist es geeignet?</div>
                    <div class="panel-body">
                        Als Team anmelden können sich nur Sportmannschaften, wobei die Sportart selbst nicht relevant ist. Das Team kann von jedem unterstützt werden, der das jeweilige Team ausgewählt hat.
                    </div>
                    <div class="panel-heading">Wann wird ausgezahlt</div>
                    <div class="panel-body">
                        Das überlassen wir euch. Sobald das Teambonus-Konto 50 € erreicht hat, kann ausgezahlt werden. Aus verwaltungstechnischen Gründen ist die Auszahlung erst ab 50 € und auch nur in 50 € Schritten möglich.
                    </div>
                </div>
            </div>
        </div> 
    </div>

                
{% endblock %}