{% extends 'base.html.twig' %}
{% block content %}
            <!-- Section Title -->
            <section class="section-title img-news">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Neues Team</h1>
                </div>
            </section>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>/</li>
                            <li>Neues Team</li>
                        </ul>
                    </div>
                </div>

                <div class="semiboxshadow text-center">
                    <img src="/img/img-theme/shp.png" class="img-responsive" alt="">
                </div>

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">

                        <!-- content Column Left -->
                        <div class="col-md-8">
                            <!-- Single Post -->
                            <div class="panel-box">

                                <!-- Title Post -->
                                <div class="titles">
                                    <h4>Neues Team</h4>
                                </div>
                                <!-- Title Post -->

                                <!-- Post Item -->
                                <div class="post-item single-news">
                                    <div class="row">
                                        <!-- Info Post -->
                                        <div class="col-md-12 padding-top-mini">
                                            <h4>Du möchtest die Mannschaftskasse deines Teams auffüllen?</h4>
                                            <p>
                                                Teambonus hilft deiner Mannschaft über Online-Shopping eure Kasse zu füllen. Auf diesem Weg benötigt ihr keinen externen Sponsor mehr.
                                                Um den Bonus ausgezahlt zu bekommen, benötigt euer Team einen einzigen Zugang zu Teambonus. Das kann idealerweise euer Kassenwart oder euer Kapitän sein.
                                                <br /><br />
                                            </p>    
                                            <h4>Was musst du dafür tun?</h4>
                                            <p>
                                                Als erstes kannst du hier deinen <a href="/vereine">Verein suchen</a> und  schauen, ob deine Mannschaft bereits angemeldet ist. Sollte das nicht der Fall sein, kannst du deine Mannschaft einfach hinzufügen.
                                                <br />
                                                <strong>Falls du deinen Verein nicht finden solltest, kannst du deinen <a href="/neuer-verein">Verein hinzufügen</a> und anschließend dein Team erstellen.</strong>
                                                <br /><br />
                                            </p>
                                            <h4>Wie geht es dann weiter?</h4>
                                            <p>
                                                Nachdem du dein Team angemeldet hast, werden wir deine Angaben prüfen und informieren dich per E-Mail, sobald die Freischaltung erfolgt ist. Danach kann jeder über Teambonus.de deine Mannschaft auswählen, online shoppen und einen Bonus für euch sammeln. <strong>Dafür ist keine Anmeldung mehr nötig.</strong>
                                            </p>
                                        </div>
                                        <!-- End Info Post -->
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                            </div>
                            <!-- End Single Post -->

                        </div>
                         <!-- End content Left -->
                        <!-- content Sidebar Center -->
                        <aside class="col-md-4">                     

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Anzeige</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- tb sidebar -->
                                        <ins class="adsbygoogle"
                                             style="display:block"
                                             data-ad-client="ca-pub-7481436394695644"
                                             data-ad-slot="6533774619"
                                             data-ad-format="auto"></ins>
                                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->
                        </aside>
                        <!-- End content Sidebar Center -->
                    </div>                     
                </div>  
                <!-- End Content Central -->
{% endblock %}