{% extends 'base.html.twig' %}
{% block content %}
            <!-- Section Title -->
            <section class="section-title img-news">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Team sponsern</h1>
                </div>
            </section>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>/</li>
                            <li>Team sponsern</li>
                        </ul>
                    </div>
                </div>

                <div class="semiboxshadow text-center">
                    <img src="/img/img-theme/shp.png" class="img-responsive" alt="">
                </div>

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">

                        <!-- content Column Left -->
                        <div class="col-md-8">
                            <!-- Single Post -->
                            <div class="panel-box">

                                <!-- Title Post -->
                                <div class="titles">
                                    <h4>Team sponsern</h4>
                                </div>
                                <!-- Title Post -->

                                <!-- Post Item -->
                                <div class="post-item single-news">
                                    <div class="row">
                                        <!-- Info Post -->
                                        <div class="col-md-12 padding-top-mini">
                                            <h4>Jedes Team braucht Sponsoren!</h4>
                                            <p>
                                                Gut, vielleicht nicht jedes, aber die meisten. Die <a href="/sponsoren">Sponsorensuche</a> kann langwierig und anstrengend sein, doch hat man es erstmal geschafft einen Sponsor an Land zu ziehen, hat man erstmal seine Ruhe. Richtig? <br />
                                                Leider ist das nicht immer so. Ein Sponsor hat natürlich auch eigene Interessen und versucht diese durchzusetzen. Das fängt schon mit der Werbung auf Trikots & Ausrüstung an und endet spätestens dann, wenn man das zweite Mal Geld braucht.
                                                <br /><br />
                                            </p>    
                                            <h4>Wie wird man unabhängig von Sponsoren?</h4>
                                            <p>
                                               Wäre es daher nicht sinnvoll lieber unabhängig von Sponsoren zu sein? Das geht nur mit einer Mannschaftskasse. Das Problem hierbei ist, dass sämtliche Einnahmen für die Mannschaftskasse aus dem Geldbeutel der Spieler kommen. Bei 10 - 20 Euro pro Monat kann man sich selbst ausrechnen, dass man auf größere Anschaffungen oder Ausfahrten lange sparen muss.
                                               <br /><br />
                                            </p>
                                            <h4>Gibt es dafür eine Lösung?</h4>
                                            <p>
                                                Glücklicherweise schon. Mit Teambonus.de könnt ihr eure Mannschaftkasse durch Online-Shoppen auffüllen. Das Prinzip ist simpel:<br />
                                                Für jeden Einkauf, der über einen <a href="/shops">Shoplink</a> von Teambonus.de geht, erhält das Teamkonto deiner Mannschaft einen Bonus, also eine Rückvergütung. Dieser Bonus kann von einem Mitglied eurer Mannschaft ausgezahlt und beliebig vom Team verwendet werden.
                                                <br /><br />
                                            </p>
                                            <h4>Klingt zu gut um wahr zu sein?</h4>
                                            <p>   
                                                Gut klingt es, und wahr ist es auch. Natürlich erhalten wir von Teambonus.de auch einen Provision von den Händlern, der Großteil der Rückvergütung bekommt allerdings das Team gutgeschrieben.
                                            </p>
                                        </div>
                                        <!-- End Info Post -->
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                            </div>
                            <!-- End Single Post -->

                        </div>
                         <!-- End content Left -->
                        <!-- content Sidebar Center -->
                        <aside class="col-md-4">                     

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Anzeige</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- tb sidebar -->
                                        <ins class="adsbygoogle"
                                             style="display:block"
                                             data-ad-client="ca-pub-7481436394695644"
                                             data-ad-slot="6533774619"
                                             data-ad-format="auto"></ins>
                                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->
                        </aside>
                        <!-- End content Sidebar Center -->
                    </div>                     
                </div>  
                <!-- End Content Central -->
{% endblock %}