{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <h1>Login für Teamvertreter</h1>
            <hr >
            <div class="alert alert-info">
                Damit du dein Team verwalten und Auszahlungen tätigen kannst, musst du dich zunächst einloggen. 
                Solltest du Probleme mit dem Login haben, benutze bitte das <u><a href="/kontakt" class="">Kontaktformular</a></u>.     
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box-blue">
                {% if error %}
                <div>{{ error.messageKey|trans(error.messageData) }}</div>
                {% endif %}
                <div class="form-group">
                    <form action="{{ path('team_index_logincheck') }}" method="post">
                        <label for="username">E-Mailadresse:</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />

                        <label for="password">Passwort:</label>
                        <input type="password" class="form-control" id="password" name="_password" />


                        <input type="hidden" name="_target_path" value="/" />
                        <br />

                        <button class="btn btn-info btn-block" type="submit">Anmelden</button><br />
                        <a href="passwort-vergessen">Du hast dein Passwort vergessen? </a> <br />
                        <a href="neu">Noch kein Teamzugang? </a> 
                    </form>
                </div>
            </div>       
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="box-blue">            
            </div>       
        </div>
    </div>
{% endblock %}  